[Desktop Entry]
Encoding=UTF-8
Name=Link to Get Into PC - Download Free Your Desired App
Type=Link
URL=http://getintopc.com/
Icon=text-html
Name[ru]=Download Free Your Desired App
